<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <log4net debug="false">
    <appender name="RootRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="..\logs\generic-log-file.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="2048KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <!--<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="..\logs\ImportService.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <threshold value="DEBUG" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="20480KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>-->
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RootRollingFileAppender"/>
    </root>
    <!--<logger name="NServiceBus">
      <appender-ref ref="RollingNSFileAppender" />
    </logger>
    <logger name="OnEnergy">
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="MailAppender" />
    </logger>
    <logger name="Iotto">
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="MailAppender" />
    </logger>-->
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

</configuration>
